@import url(./src/style/tabela.css);

* {
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: 'newfont';
    src: url(../font/62DRAGZ.otf) format(Opentype);
}

body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnlnmoKmTnBU2IXffaxykYb92fx8idOw37nKfeqw84Vw&s');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Para manter a imagem fixa enquanto você rola a página */
}

.navbar {
    padding: 10px !important;
    color: #FFFBFF;
    text-align: left;
    transition: 0.3s ease-in-out;
    color: white;
    transition: 0.3s ease-in-out;
}
.navbar h1 {
    font-family: 'newfont'; 
}
.navbar.scrolled {
    margin: 0 !important;
    padding: 0 !important;
    background: rgb(0, 0, 0) !important;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5) !important;
    transition: 0.2s ease-in-out;
    backdrop-filter: blur(3px);
    opacity: 1 !important;
}

.cc {
    background-image: linear-gradient(to right, rgb(4, 6, 92), rgba(0, 0, 0, 0.938));  
}

.menu-sublinhado { width:100%; float:left; }
.menu-sublinhado ul { width:100%; list-style:none; text-align:center; }
.menu-sublinhado li {
  
  list-style-type: none;
  display: inline-block;
  margin: 5px 10px;
}
.menu-sublinhado li > a {
  
  color: #333;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
.menu-sublinhado li > a::after {
  
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0;
  top: 5px;
  background: transparent;
  transition: all 0.3s;
  
}
.menu-sublinhado li > a:hover::after, li > a.active-nav::after {
  width: 100%;
  background: orange;
}

main p {
    text-align: justify;
    text-indent: 30px;

}

.carousel-inner {
    border-radius: 0px 0px 15px 15px;
}


@keyframes descer {
    from{
        transform: translateY(-100px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}

.classe2{
    top: 10%;
    user-select: none;
    animation: descer 2s ease-in-out forwards;
}

footer a {
    color: whitesmoke;
}

.btns {
    display: flex;
    gap: 30px;
    margin-bottom: 60px;
    justify-content: center;

}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

input {
    margin-bottom: 5px;
    border: #333 solid 1px;
    padding: 5px 10px;
    margin: 0 30px;
    text-align: center;
    font-size: 20px; 
}

.btn {
    background-color: rgb(143, 3, 3);
}